body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

#calculator {
  display: grid;
  grid-template-columns: repeat(4, 7rem);
  grid-template-rows: minmax(6rem, auto) repeat(5, 6rem);
  
}

.span2 {
  grid-column: span 2;
}

#output {  
  padding: 0.2rem 1rem;
  grid-column: span 4;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  color: rgba(255,255,255,0.85);
  font-size: 2rem;  
  word-wrap: break-word;
  word-break: break-all;
  text-align: end;
}

#output > #prev {
  font-size: 1.6rem;
  color: rgba(255,255,255,0.65);
}
