html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, rgb(150, 150, 160), rgb(100,100,120));
  margin-bottom: 100px;
}



#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height:70vh;
  min-height: 600px;
}

#calculator {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(6rem, auto) repeat(5, 6rem);
  grid-gap: 2px;
  margin-top: 2rem;
    
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  font-size: 1.8rem;
  font-weight: 550;
  border: none;
  border-radius: 5px;  
  background-color: rgba(240,240,240,0.95);
}

button:hover {
  background-color: rgb(220,220,220);
}

.span2 {
  grid-column: span 2;
}

#output {  
  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.8rem;
  grid-column: span 4;
  background-color: rgba(0, 10, 20 , 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  color: rgba(255,255,255,0.85);
  font-size: 2rem;  
  word-wrap: break-word;
  word-break: break-all;
  text-align: end;
}

#output > #prev {
  font-size: 1.6rem;
  color: rgba(255,255,255,0.7);
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
  font-size: 1.3rem;
}